**Reading each file and converting into data frame**

In [257]:
import pandas as pd

# Initialize an empty list to store the DataFrames
demand_data = []
weather_data = []

In [258]:
def drop_columns(df, columns):

    return df.drop(columns=columns, errors='ignore')

In [259]:
def display_data(df):

    # Display column names and datatypes
    print("\nColumn Names:")
    print(df.columns.tolist())

    print("\nData Types:")
    print(df.dtypes)

    print("\nFirst 2 Rows:")
    print(df.head(2))

In [260]:
def preprocess_json_file(path, city):
    path = path
    
    df = pd.read_json(path)
    
    
    display_data(df)

    df['timestamp'] = pd.to_datetime(df['time'], unit='s')

    df['timestamp'] = pd.to_datetime(df['timestamp'])

    columns_to_drop = [
        'summary',
        'icon',
        'apparentTemperature',
        'dewPoint',
        'windGust',
        'windBearing',
        'cloudCover',
        'uvIndex',
        'visibility',
        'precipType',
        'ozone',
        'precipAccumulation',
        'time'
    ]

    df = drop_columns(df, columns_to_drop)

    df['city'] = city 

    return df

**1) cleaned_balance_data.csv**

In [261]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/cleaned_balance_data.csv"

df = pd.read_csv(path)
display_data(df)

columns_to_drop = ['company', 'utc_time']

df = drop_columns(df, columns_to_drop)
df.rename(columns={'local_time': 'timestamp'}, inplace=True)
df['timestamp'] = pd.to_datetime(df['timestamp'])


# Append to the list
demand_data.append(df)
df

Column Names:
['company', 'local_time', 'utc_time', 'demand', 'city']

Data Types:
company        object
local_time     object
utc_time       object
demand        float64
city           object
dtype: object

First 2 Rows:
  company           local_time             utc_time  demand     city
0    AZPS  2018-07-01 01:00:00  2018-07-01 08:00:00  3497.0  phoenix
1    AZPS  2018-07-01 02:00:00  2018-07-01 09:00:00  3256.0  phoenix

                timestamp  demand     city
0     2018-07-01 01:00:00  3497.0  phoenix
1     2018-07-01 02:00:00  3256.0  phoenix
2     2018-07-01 03:00:00  3065.0  phoenix
3     2018-07-01 04:00:00  2929.0  phoenix
4     2018-07-01 05:00:00  2833.0  phoenix
...                   ...     ...      ...
31915 2020-04-25 20:00:00     NaN  seattle
31916 2020-04-25 21:00:00     NaN  seattle
31917 2020-04-25 22:00:00     NaN  seattle
31918 2020-04-25 23:00:00     NaN  seattle
31919 2020-04-26 00:00:00     NaN  seattle

[31920 rows x 3 columns]

In [262]:
print(df['city'].value_counts())

city
phoenix    15960
seattle    15960
Name: count, dtype: int64

**2) cleaned_subregion_data.csv**

In [263]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/cleaned_subregion_data.csv"

df = pd.read_csv(path)
display_data(df)

columns_to_drop = ['company', 'region', 'utc_time']
df = drop_columns(df, columns_to_drop)
df.rename(columns={'local_time': 'timestamp'}, inplace=True)
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Append to the list
demand_data.append(df)
df

Column Names:
['company', 'region', 'demand', 'local_time', 'utc_time', 'city']

Data Types:
company        object
region         object
demand        float64
local_time     object
utc_time       object
city           object
dtype: object

First 2 Rows:
  company region  demand           local_time             utc_time city
0    NYIS   ZONJ  7269.0  2018-07-01 01:00:00  2018-07-01 05:00:00  nyc
1    NYIS   ZONJ  6977.0  2018-07-01 02:00:00  2018-07-01 06:00:00  nyc

         demand           timestamp      city
0        7269.0 2018-07-01 01:00:00       nyc
1        6977.0 2018-07-01 02:00:00       nyc
2        6725.0 2018-07-01 03:00:00       nyc
3        6539.0 2018-07-01 04:00:00       nyc
4        6415.0 2018-07-01 05:00:00       nyc
...         ...                 ...       ...
132283  11578.0 2020-05-19 20:00:00  san jose
132284  11782.0 2020-05-19 21:00:00  san jose
132285  11592.0 2020-05-19 22:00:00  san jose
132286  11083.0 2020-05-19 23:00:00  san jose
132287  10506.0 2020-05-20 00:00:00  san jose

[132288 rows x 3 columns]

In [264]:
print(df['city'].value_counts())

city
nyc             16536
la              16536
houston         16536
philadelphia    16536
san antonio     16536
san diego       16536
dallas          16536
san jose        16536
Name: count, dtype: int64

**3) cleaned_texas_data**

In [265]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/cleaned_texas_data.csv"

df = pd.read_csv(path)
display_data(df)

df = pd.melt(df, id_vars=['date'], var_name='city', value_name='demand')
df.rename(columns={'date': 'timestamp'}, inplace=True)
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Append to the list
demand_data.append(df)
df

Column Names:
['date', 'houston', 'san antonio', 'dallas']

Data Types:
date            object
houston        float64
san antonio    float64
dallas         float64
dtype: object

First 2 Rows:
                  date   houston  san antonio    dallas
0  2018-01-01 01:00:00  11425.98      9151.19  18584.34
1  2018-01-01 02:00:00  11408.42      9144.99  18524.14

                timestamp     city    demand
0     2018-01-01 01:00:00  houston  11425.98
1     2018-01-01 02:00:00  houston  11408.42
2     2018-01-01 03:00:00  houston  11405.20
3     2018-01-01 04:00:00  houston  11450.56
4     2018-01-01 05:00:00  houston  11631.34
...                   ...      ...       ...
61264 2020-04-30 20:00:00   dallas  13521.17
61265 2020-04-30 21:00:00   dallas  13149.45
61266 2020-04-30 22:00:00   dallas  12673.02
61267 2020-04-30 23:00:00   dallas  11653.34
61268 2020-04-30 00:00:00   dallas  10505.68

[61269 rows x 3 columns]

In [266]:
print(df['city'].value_counts())

city
houston        20423
san antonio    20423
dallas         20423
Name: count, dtype: int64

**4) dallas.json**

In [267]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/dallas.json"

df = preprocess_json_file(path, 'dallas')

# Append to the list
weather_data.append(df)
df.head()

Column Names:
['time', 'summary', 'icon', 'precipIntensity', 'precipProbability', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity', 'pressure', 'windSpeed', 'windGust', 'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'precipType', 'ozone', 'precipAccumulation']

Data Types:
time                     int64
summary                 object
icon                    object
precipIntensity        float64
precipProbability      float64
temperature            float64
apparentTemperature    float64
dewPoint               float64
humidity               float64
pressure               float64
windSpeed              float64
windGust               float64
windBearing            float64
cloudCover             float64
uvIndex                float64
visibility             float64
precipType              object
ozone                  float64
precipAccumulation     float64
dtype: object

First 2 Rows:
         time summary         icon  precipIntensity  precipProbability  \
0  1530507600   Clear  clear-night              0.0                0.0
1  1530511200   Clear  clear-night              0.0                0.0

   temperature  apparentTemperature  dewPoint  humidity  pressure  windSpeed  \
0        89.56                91.71     65.31      0.45    1011.9      10.84
1        88.35                92.26     68.29      0.52    1012.7       9.94

   windGust  windBearing  cloudCover  uvIndex  visibility precipType  ozone  \
0     12.40        164.0        0.06      0.0       9.617        NaN    NaN
1      9.94        179.0        0.04      0.0       9.817        NaN    NaN

   precipAccumulation
0                 NaN
1                 NaN

,precipIntensity,precipProbability,temperature,humidity,pressure,windSpeed,timestamp,city
0,0.0,0.0,89.56,0.45,1011.9,10.84,2018-07-02 05:00:00,dallas
1,0.0,0.0,88.35,0.52,1012.7,9.94,2018-07-02 06:00:00,dallas
2,0.0,0.0,87.05,0.56,1012.8,8.92,2018-07-02 07:00:00,dallas
3,0.0,0.0,86.04,0.58,1012.7,8.47,2018-07-02 08:00:00,dallas
4,0.0,0.0,84.80,0.63,1012.9,5.61,2018-07-02 09:00:00,dallas

**5) houston.json**

In [268]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/houston.json"

df = preprocess_json_file(path, 'houston')

# Append to the list
weather_data.append(df)
df.head()

Column Names:
['time', 'summary', 'icon', 'precipIntensity', 'precipProbability', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity', 'pressure', 'windSpeed', 'windGust', 'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'precipType', 'ozone', 'precipAccumulation']

Data Types:
time                     int64
summary                 object
icon                    object
precipIntensity        float64
precipProbability      float64
temperature            float64
apparentTemperature    float64
dewPoint               float64
humidity               float64
pressure               float64
windSpeed              float64
windGust               float64
windBearing            float64
cloudCover             float64
uvIndex                float64
visibility             float64
precipType              object
ozone                  float64
precipAccumulation     float64
dtype: object

First 2 Rows:
         time summary         icon  precipIntensity  precipProbability  \
0  1530507600   Humid  clear-night              0.0                0.0
1  1530511200   Humid  clear-night              0.0                0.0

   temperature  apparentTemperature  dewPoint  humidity  pressure  windSpeed  \
0        81.87                87.88     74.15      0.78    1015.6       5.45
1        81.29                86.90     74.17      0.79    1015.4       5.30

   windGust  windBearing  cloudCover  uvIndex  visibility precipType  ozone  \
0      9.31        191.0        0.01      0.0       8.479        NaN    NaN
1      7.54        195.0        0.00      0.0       7.880        NaN    NaN

   precipAccumulation
0                 NaN
1                 NaN

,precipIntensity,precipProbability,temperature,humidity,pressure,windSpeed,timestamp,city
0,0.0,0.0,81.87,0.78,1015.6,5.45,2018-07-02 05:00:00,houston
1,0.0,0.0,81.29,0.79,1015.4,5.30,2018-07-02 06:00:00,houston
2,0.0,0.0,80.34,0.82,1014.9,5.49,2018-07-02 07:00:00,houston
3,0.0,0.0,79.75,0.83,1014.8,3.53,2018-07-02 08:00:00,houston
4,0.0,0.0,79.23,0.84,1015.0,4.25,2018-07-02 09:00:00,houston

**6) la.json**

In [269]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/la.json"

df = preprocess_json_file(path, 'la')

# Append to the list
weather_data.append(df)

df.head()

Column Names:
['time', 'summary', 'icon', 'precipIntensity', 'precipProbability', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity', 'pressure', 'windSpeed', 'windGust', 'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'precipType', 'ozone']

Data Types:
time                     int64
summary                 object
icon                    object
precipIntensity        float64
precipProbability      float64
temperature            float64
apparentTemperature    float64
dewPoint               float64
humidity               float64
pressure               float64
windSpeed              float64
windGust               float64
windBearing            float64
cloudCover             float64
uvIndex                float64
visibility             float64
precipType              object
ozone                  float64
dtype: object

First 2 Rows:
         time   summary         icon  precipIntensity  precipProbability  \
0  1530428400     Clear  clear-night              0.0                0.0
1  1530432000  Overcast       cloudy              0.0                0.0

   temperature  apparentTemperature  dewPoint  humidity  pressure  windSpeed  \
0        65.45                65.45     58.64      0.79    1014.5       4.23
1        65.16                65.16     58.62      0.79    1014.4       3.95

   windGust  windBearing  cloudCover  uvIndex  visibility precipType  ozone
0      4.23        243.0        0.25      0.0       9.798        NaN    NaN
1      3.95        193.0        0.88      0.0       9.777        NaN    NaN

,precipIntensity,precipProbability,temperature,humidity,pressure,windSpeed,timestamp,city
0,0.0,0.0,65.45,0.79,1014.5,4.23,2018-07-01 07:00:00,la
1,0.0,0.0,65.16,0.79,1014.4,3.95,2018-07-01 08:00:00,la
2,0.0,0.0,64.58,0.80,1014.1,4.21,2018-07-01 09:00:00,la
3,0.0,0.0,64.46,0.79,1013.9,4.01,2018-07-01 10:00:00,la
4,0.0,0.0,64.19,0.80,1014.1,3.81,2018-07-01 11:00:00,la

**7) nyc.json**

In [270]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/nyc.json"

df = preprocess_json_file(path, 'nyc')

# Append to the list
weather_data.append(df)

df.head()

Column Names:
['time', 'summary', 'icon', 'precipIntensity', 'precipProbability', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity', 'pressure', 'windSpeed', 'windGust', 'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'precipType', 'ozone', 'precipAccumulation']

Data Types:
time                     int64
summary                 object
icon                    object
precipIntensity        float64
precipProbability      float64
temperature            float64
apparentTemperature    float64
dewPoint               float64
humidity               float64
pressure               float64
windSpeed              float64
windGust               float64
windBearing            float64
cloudCover             float64
uvIndex                float64
visibility             float64
precipType              object
ozone                  float64
precipAccumulation     float64
dtype: object

First 2 Rows:
         time summary         icon  precipIntensity  precipProbability  \
0  1530504000   Clear  clear-night              0.0                0.0
1  1530507600   Clear  clear-night              0.0                0.0

   temperature  apparentTemperature  dewPoint  humidity  pressure  windSpeed  \
0        83.18                87.93     71.08      0.67    1017.0       3.27
1        82.55                86.45     69.88      0.66    1017.2       2.40

   windGust  windBearing  cloudCover  uvIndex  visibility precipType  ozone  \
0      3.27        242.0        0.03      0.0       9.784        NaN    NaN
1      2.40        234.0        0.02      0.0       9.763        NaN    NaN

   precipAccumulation
0                 NaN
1                 NaN

,precipIntensity,precipProbability,temperature,humidity,pressure,windSpeed,timestamp,city
0,0.0,0.0,83.18,0.67,1017.0,3.27,2018-07-02 04:00:00,nyc
1,0.0,0.0,82.55,0.66,1017.2,2.40,2018-07-02 05:00:00,nyc
2,0.0,0.0,79.89,0.71,1017.4,3.64,2018-07-02 06:00:00,nyc
3,0.0,0.0,79.07,0.72,1017.3,5.51,2018-07-02 07:00:00,nyc
4,0.0,0.0,78.12,0.74,1017.2,1.95,2018-07-02 08:00:00,nyc

**8) philadelphia.json**

In [271]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/philadelphia.json"

df = preprocess_json_file(path, 'philadelphia')

# Append to the list
weather_data.append(df)
df.head()

Column Names:
['time', 'summary', 'icon', 'precipIntensity', 'precipProbability', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity', 'pressure', 'windSpeed', 'windGust', 'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'precipType', 'ozone', 'precipAccumulation']

Data Types:
time                     int64
summary                 object
icon                    object
precipIntensity        float64
precipProbability      float64
temperature            float64
apparentTemperature    float64
dewPoint               float64
humidity               float64
pressure               float64
windSpeed              float64
windGust               float64
windBearing            float64
cloudCover             float64
uvIndex                float64
visibility             float64
precipType              object
ozone                  float64
precipAccumulation     float64
dtype: object

First 2 Rows:
         time summary         icon  precipIntensity  precipProbability  \
0  1530504000   Clear  clear-night              0.0                0.0
1  1530507600   Clear  clear-night              0.0                0.0

   temperature  apparentTemperature  dewPoint  humidity  pressure  windSpeed  \
0        80.27                83.79     70.79      0.73    1017.3       3.03
1        79.74                82.67     69.59      0.71    1017.2       2.39

   windGust  windBearing  cloudCover  uvIndex  visibility precipType  ozone  \
0      3.21        238.0        0.12      0.0       9.964        NaN    NaN
1      2.39        226.0        0.05      0.0       9.705        NaN    NaN

   precipAccumulation
0                 NaN
1                 NaN

,precipIntensity,precipProbability,temperature,humidity,pressure,windSpeed,timestamp,city
0,0.0,0.0,80.27,0.73,1017.3,3.03,2018-07-02 04:00:00,philadelphia
1,0.0,0.0,79.74,0.71,1017.2,2.39,2018-07-02 05:00:00,philadelphia
2,0.0,0.0,78.14,0.75,1017.6,1.78,2018-07-02 06:00:00,philadelphia
3,0.0,0.0,76.94,0.79,1017.6,0.95,2018-07-02 07:00:00,philadelphia
4,0.0,0.0,76.07,0.81,1017.5,1.23,2018-07-02 08:00:00,philadelphia

**9) phoenix**

In [272]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/phoenix.json"

df = preprocess_json_file(path, 'phoenix')

# Append to the list
weather_data.append(df)

df.head()

Column Names:
['time', 'summary', 'icon', 'precipIntensity', 'precipProbability', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity', 'pressure', 'windSpeed', 'windGust', 'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'precipType', 'ozone', 'precipAccumulation']

Data Types:
time                     int64
summary                 object
icon                    object
precipIntensity        float64
precipProbability      float64
temperature            float64
apparentTemperature    float64
dewPoint               float64
humidity               float64
pressure               float64
windSpeed              float64
windGust               float64
windBearing            float64
cloudCover             float64
uvIndex                float64
visibility             float64
precipType              object
ozone                  float64
precipAccumulation     float64
dtype: object

First 2 Rows:
         time summary         icon  precipIntensity  precipProbability  \
0  1530428400   Clear  clear-night              0.0                0.0
1  1530432000   Clear  clear-night              0.0                0.0

   temperature  apparentTemperature  dewPoint  humidity  pressure  windSpeed  \
0        86.82                86.82     34.57      0.16    1008.9        4.3
1        83.37                83.37     36.45      0.19    1009.3        4.0

   windGust  windBearing  cloudCover  uvIndex  visibility precipType  ozone  \
0     11.27        225.0         0.0      0.0       9.997        NaN    NaN
1      4.00        282.0         0.0      0.0       9.997        NaN    NaN

   precipAccumulation
0                 NaN
1                 NaN

,precipIntensity,precipProbability,temperature,humidity,pressure,windSpeed,timestamp,city
0,0.0,0.0,86.82,0.16,1008.9,4.30,2018-07-01 07:00:00,phoenix
1,0.0,0.0,83.37,0.19,1009.3,4.00,2018-07-01 08:00:00,phoenix
2,0.0,0.0,82.22,0.18,1009.5,2.47,2018-07-01 09:00:00,phoenix
3,0.0,0.0,80.34,0.19,1010.1,2.98,2018-07-01 10:00:00,phoenix
4,0.0,0.0,79.34,0.18,1010.4,2.74,2018-07-01 11:00:00,phoenix

**10) san_antonio**

In [273]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/san_antonio.json"

df = preprocess_json_file(path, 'san antonio')

# Append to the list
weather_data.append(df)
df.head()

Column Names:
['time', 'summary', 'icon', 'precipIntensity', 'precipProbability', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity', 'pressure', 'windSpeed', 'windGust', 'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'precipType', 'ozone', 'precipAccumulation']

Data Types:
time                     int64
summary                 object
icon                    object
precipIntensity        float64
precipProbability      float64
temperature            float64
apparentTemperature    float64
dewPoint               float64
humidity               float64
pressure               float64
windSpeed              float64
windGust               float64
windBearing            float64
cloudCover             float64
uvIndex                float64
visibility             float64
precipType              object
ozone                  float64
precipAccumulation     float64
dtype: object

First 2 Rows:
         time summary         icon  precipIntensity  precipProbability  \
0  1530507600   Humid  clear-night              0.0                0.0
1  1530511200   Humid  clear-night              0.0                0.0

   temperature  apparentTemperature  dewPoint  humidity  pressure  windSpeed  \
0        81.09                86.15     73.38      0.77    1014.7       9.02
1        79.40                82.99     72.74      0.80    1014.7       9.18

   windGust  windBearing  cloudCover  uvIndex  visibility precipType  ozone  \
0      9.02        131.0        0.01      0.0       9.997        NaN    NaN
1      9.18        131.0        0.02      0.0       9.976        NaN    NaN

   precipAccumulation
0                 NaN
1                 NaN

,precipIntensity,precipProbability,temperature,humidity,pressure,windSpeed,timestamp,city
0,0.0,0.0,81.09,0.77,1014.7,9.02,2018-07-02 05:00:00,san antonio
1,0.0,0.0,79.40,0.80,1014.7,9.18,2018-07-02 06:00:00,san antonio
2,0.0,0.0,78.22,0.84,1014.3,11.20,2018-07-02 07:00:00,san antonio
3,0.0,0.0,78.22,0.84,1014.6,8.01,2018-07-02 08:00:00,san antonio
4,0.0,0.0,77.08,0.85,1013.6,4.81,2018-07-02 09:00:00,san antonio

**11) san_diego**

In [274]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/san_diego.json"

df = preprocess_json_file(path, 'san diego')

# Append to the list
weather_data.append(df)

df.head()

Column Names:
['time', 'summary', 'icon', 'precipIntensity', 'precipProbability', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity', 'pressure', 'windSpeed', 'windGust', 'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'precipType', 'ozone']

Data Types:
time                     int64
summary                 object
icon                    object
precipIntensity        float64
precipProbability      float64
temperature            float64
apparentTemperature    float64
dewPoint               float64
humidity               float64
pressure               float64
windSpeed              float64
windGust               float64
windBearing            float64
cloudCover             float64
uvIndex                float64
visibility             float64
precipType              object
ozone                  float64
dtype: object

First 2 Rows:
         time   summary    icon  precipIntensity  precipProbability  \
0  1530428400  Overcast  cloudy              0.0                0.0
1  1530432000  Overcast  cloudy              0.0                0.0

   temperature  apparentTemperature  dewPoint  humidity  pressure  windSpeed  \
0        61.71                61.71     55.47      0.80    1015.9       3.53
1        62.26                62.26     55.50      0.79    1015.7       3.06

   windGust  windBearing  cloudCover  uvIndex  visibility precipType  ozone
0      3.53        210.0         1.0      0.0       9.969        NaN    NaN
1      3.06        231.0         1.0      0.0       9.972        NaN    NaN

,precipIntensity,precipProbability,temperature,humidity,pressure,windSpeed,timestamp,city
0,0.0,0.0,61.71,0.80,1015.9,3.53,2018-07-01 07:00:00,san diego
1,0.0,0.0,62.26,0.79,1015.7,3.06,2018-07-01 08:00:00,san diego
2,0.0,0.0,62.27,0.79,1015.3,4.34,2018-07-01 09:00:00,san diego
3,0.0,0.0,62.13,0.78,1015.0,3.91,2018-07-01 10:00:00,san diego
4,0.0,0.0,61.52,0.82,1015.2,3.37,2018-07-01 11:00:00,san diego

**12) san_jose.json**

In [275]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/san_jose.json"

df = preprocess_json_file(path, 'san jose')

# Append to the list
weather_data.append(df)

df.head()

Column Names:
['time', 'summary', 'icon', 'precipIntensity', 'precipProbability', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity', 'pressure', 'windSpeed', 'windGust', 'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'ozone', 'precipType']

Data Types:
time                     int64
summary                 object
icon                    object
precipIntensity        float64
precipProbability      float64
temperature            float64
apparentTemperature    float64
dewPoint               float64
humidity               float64
pressure               float64
windSpeed              float64
windGust               float64
windBearing            float64
cloudCover             float64
uvIndex                float64
visibility             float64
ozone                  float64
precipType              object
dtype: object

First 2 Rows:
         time summary         icon  precipIntensity  precipProbability  \
0  1530428400   Clear  clear-night              0.0                0.0
1  1530432000   Clear  clear-night              0.0                0.0

   temperature  apparentTemperature  dewPoint  humidity  pressure  windSpeed  \
0        67.78                67.78     53.27      0.60    1012.8       6.36
1        66.09                66.09     53.14      0.63    1013.1       3.15

   windGust  windBearing  cloudCover  uvIndex  visibility  ozone precipType
0      8.58        141.0        0.17      0.0       9.988    NaN        NaN
1      5.36        143.0        0.01      0.0       9.988    NaN        NaN

,precipIntensity,precipProbability,temperature,humidity,pressure,windSpeed,timestamp,city
0,0.0,0.0,67.78,0.60,1012.8,6.36,2018-07-01 07:00:00,san jose
1,0.0,0.0,66.09,0.63,1013.1,3.15,2018-07-01 08:00:00,san jose
2,0.0,0.0,64.30,0.67,1013.0,4.74,2018-07-01 09:00:00,san jose
3,0.0,0.0,63.42,0.69,1012.9,4.51,2018-07-01 10:00:00,san jose
4,0.0,0.0,61.73,0.73,1013.0,3.48,2018-07-01 11:00:00,san jose

**13) seattle.json**

In [276]:
path = "C:/University Work/6th Semester/Data Mining Lab/project/dataset/seattle.json"

df = preprocess_json_file(path, 'seattle')

# Append to the list
weather_data.append(df)

df.head()

Column Names:
['time', 'summary', 'icon', 'precipIntensity', 'precipProbability', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity', 'pressure', 'windSpeed', 'windGust', 'windBearing', 'cloudCover', 'uvIndex', 'visibility', 'precipType', 'ozone', 'precipAccumulation']

Data Types:
time                     int64
summary                 object
icon                    object
precipIntensity        float64
precipProbability      float64
temperature            float64
apparentTemperature    float64
dewPoint               float64
humidity               float64
pressure               float64
windSpeed              float64
windGust               float64
windBearing            float64
cloudCover             float64
uvIndex                float64
visibility             float64
precipType              object
ozone                  float64
precipAccumulation     float64
dtype: object

First 2 Rows:
         time   summary    icon  precipIntensity  precipProbability  \
0  1530428400  Overcast  cloudy              0.0                0.0
1  1530432000  Overcast  cloudy              0.0                0.0

   temperature  apparentTemperature  dewPoint  humidity  pressure  windSpeed  \
0        59.32                59.32     55.21      0.86    1022.1       4.81
1        58.96                58.96     55.24      0.87    1022.0       5.02

   windGust  windBearing  cloudCover  uvIndex  visibility precipType  ozone  \
0      4.81        207.0         1.0      0.0       8.395        NaN    NaN
1      5.02        201.0         1.0      0.0       3.775        NaN    NaN

   precipAccumulation
0                 NaN
1                 NaN

,precipIntensity,precipProbability,temperature,humidity,pressure,windSpeed,timestamp,city
0,0.0000,0.00,59.32,0.86,1022.1,4.81,2018-07-01 07:00:00,seattle
1,0.0000,0.00,58.96,0.87,1022.0,5.02,2018-07-01 08:00:00,seattle
2,0.0000,0.00,58.56,0.89,1022.1,4.20,2018-07-01 09:00:00,seattle
3,0.0000,0.00,58.26,0.91,1022.1,3.66,2018-07-01 10:00:00,seattle
4,0.0007,0.15,58.04,0.92,1022.0,4.19,2018-07-01 11:00:00,seattle

# Merging the demands and weather data

In [277]:
# Combine all demand and weather data into single DataFrames
all_demand = pd.concat(demand_data, ignore_index=True)
all_weather = pd.concat(weather_data, ignore_index=True)

# Merge the datasets on timestamp and city
data = pd.merge(all_demand, all_weather, on=['timestamp', 'city'], how='inner')

In [278]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212066 entries, 0 to 212065
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   timestamp          212066 non-null  datetime64[ns]
 1   demand             186142 non-null  float64
 2   city               212066 non-null  object
 3   precipIntensity    211776 non-null  float64
 4   precipProbability  211776 non-null  float64
 5   temperature        212053 non-null  float64
 6   humidity           212053 non-null  float64
 7   pressure           211997 non-null  float64
 8   windSpeed          211999 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 14.6+ MB

In [279]:
data.head()

,timestamp,demand,city,precipIntensity,precipProbability,temperature,humidity,pressure,windSpeed
0,2018-07-01 07:00:00,2764.0,phoenix,0.0,0.0,86.82,0.16,1008.9,4.30
1,2018-07-01 08:00:00,2895.0,phoenix,0.0,0.0,83.37,0.19,1009.3,4.00
2,2018-07-01 09:00:00,3096.0,phoenix,0.0,0.0,82.22,0.18,1009.5,2.47
3,2018-07-01 10:00:00,3293.0,phoenix,0.0,0.0,80.34,0.19,1010.1,2.98
4,2018-07-01 11:00:00,3552.0,phoenix,0.0,0.0,79.34,0.18,1010.4,2.74

In [280]:
data.to_csv('merged_data.csv')